#################################
#
#  Set the list of TCs in the format
#
#          json_file:[macro_file[,macro_file]]
#
#  Macro file is optional.
#  Env variables can be used in path
#
# 

# # Compile the BAT binary to be used later
$RTC_JSON_PATH/CompileBAT/TC-COMPILE-BAT.json

# # Test cases for Upgrade:
# ---------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json

# # Test cases for Dummy Upgrade:
# ---------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/DUMMY-UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0210_HSS-DUMMY-UPGRADE-ONE-STEP.json

# # Test Cases for Backward compatibility
# ---------------------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json

# # Test cases Robutness:
# ------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP.json
$RTC_JSON_PATH/ROB/TC-CROB-0607_LOCK-UNLOCK-SCS.json
$RTC_JSON_PATH/ROB/TC-CROB-0608_LOCK-UNLOCK-PLS.json
$RTC_JSON_PATH/ROB/TC-CROB-0609_PLS-REBOOT.json


# # Test cases for Stability:
# ---------------------------

#$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
#$RTC_JSON_PATH/Capacity/virtual/HC-IMS-2PL.json
#$RTC_JSON_PATH/Capacity/virtual/HC-EPC-2PL.json
#$RTC_JSON_PATH/STAB/TC-CSTAB-0230_STAB-4H-IMS-2PL.json
#$RTC_JSON_PATH/STAB/TC-CSTAB-0330_STAB-4H-EPC-2PL.json




