#################################
#
#  Set the list of TCs in the format
#
#          json_file:[macro_file[,macro_file]]
#
#  Macro file is optional.
#  Env variables can be used in path
#
# 

# # Test cases for Upgrade:
# ---------------------------
#

# # Upgrade from 1.22
# --------------------
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json:$RTC_CFG_PATH/hss_base_backup_1_22_avg.mkr
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json:$RTC_CFG_PATH/hss_base_backup_1_22_avg.mkr
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-EPC-IMS-1HOUR.json
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json:$RTC_CFG_PATH/hss_base_backup_1_22_avg.mkr
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json:$RTC_CFG_PATH/hss_base_backup_1_22_avg.mkr

# # Upgrade from 1.23
# --------------------
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json:$RTC_CFG_PATH/hss_base_backup_1_23_avg.mkr
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json:$RTC_CFG_PATH/hss_base_backup_1_23_avg.mkr
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-EPC-IMS-1HOUR.json
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json:$RTC_CFG_PATH/hss_base_backup_1_23_avg.mkr
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json:$RTC_CFG_PATH/hss_base_backup_1_23_avg.mkr

# # Upgrade from 1.24
# --------------------
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json:$RTC_CFG_PATH/hss_base_backup_1_24_avg.mkr
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json:$RTC_CFG_PATH/hss_base_backup_1_24_avg.mkr
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-EPC-IMS-1HOUR.json
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json:$RTC_CFG_PATH/hss_base_backup_1_24_avg.mkr
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json:$RTC_CFG_PATH/hss_base_backup_1_24_avg.mkr

# # Upgrade from 1.25
# --------------------
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json:$RTC_CFG_PATH/hss_base_backup_1_25_avg.mkr
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json:$RTC_CFG_PATH/hss_base_backup_1_25_avg.mkr
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-EPC-IMS-1HOUR.json
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json:$RTC_CFG_PATH/hss_base_backup_1_25_avg.mkr
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json:$RTC_CFG_PATH/hss_base_backup_1_25_avg.mkr

# # Upgrade from 1.26
# --------------------
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json:$RTC_CFG_PATH/hss_base_backup_1_26_avg.mkr
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json:$RTC_CFG_PATH/hss_base_backup_1_26_avg.mkr
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-EPC-IMS-1HOUR.json
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json:$RTC_CFG_PATH/hss_base_backup_1_26_avg.mkr
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json:$RTC_CFG_PATH/hss_base_backup_1_26_avg.mkr

# # Upgrade from 1.28
# --------------------
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-BASE-BACKUP.json:$RTC_CFG_PATH/hss_base_backup_1_28_avg.mkr
$RTC_JSON_PATH/ACC/TC-DELETE-HSS-UPGRADE-BACKUP-FROM-PREVIOUS-EXECUTION.json
$RTC_JSON_PATH/Capacity/virtual/UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0211_HSS-UPGRADE-FROM-PREVIOUS-CP-LSV.json:$RTC_CFG_PATH/hss_base_backup_1_28_avg.mkr
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-EPC-IMS-1HOUR.json
$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP-TRAFFIC-MIX-FORCED.json:$RTC_CFG_PATH/hss_base_backup_1_28_avg.mkr
$RTC_JSON_PATH/ACC/TC-CACC-0502_HSS-FE-BACKWARD-COMPATIBILITY.json:$RTC_CFG_PATH/hss_base_backup_1_28_avg.mkr


# # Test cases for Dummy Upgrade:
# ---------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/DUMMY-UPGRADE-EPC-IMS.json
$RTC_JSON_PATH/ACC/TC-CACC-0210_HSS-DUMMY-UPGRADE-ONE-STEP.json

# # Test cases for Stability :
# ---------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-IMS-CVE.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-CVE.json
$RTC_JSON_PATH/STAB/TC-CSTAB-0250_STAB-CVE-4H-IMS.json
$RTC_JSON_PATH/STAB/TC-CSTAB-0350_STAB-CVE-4H-EPC.json

# 
# # Test cases Robutness:
# ------------------------

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS.json
$RTC_JSON_PATH/Capacity/virtual/HC-EPC-IMS-NO-SOAP.json
$RTC_JSON_PATH/ROB/TC-CROB-0607_LOCK-UNLOCK-SCS.json
$RTC_JSON_PATH/ROB/TC-CROB-0608_LOCK-UNLOCK-PLS.json
$RTC_JSON_PATH/ROB/TC-CROB-0609_PLS-REBOOT.json

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/ACC/TC-CACC-0202_CREATE-RESTORE-DELETE-BACKUP.json

$RTC_JSON_PATH/ACC/TC-RESTORE-HSS-UPGRADE-BACKUP.json
$RTC_JSON_PATH/ROB/TC-CROB-0100_HSS-RELOAD.json
$RTC_JSON_PATH/ROB/TC-CROB-0600_RESTART-SC-AND-SWITCHOVER.json
